* {
    margin: 0;
    padding: 0;
    transition: all .2s linear;
}

::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

/* ----------------------------------------header----------------------------------- */

.header-inner .navbar {
    padding: 0;
    z-index: 1;
    padding-left: 50px;
    background: linear-gradient(to top, #ffffff35, #d28effaa);
    animation: navanimate;
    animation-duration: 4s;
}

@keyframes navanimate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.navbar button {
    border: none;
    padding: 10px 10px 0 10px;
}

.navbar button i{
    color: #000000dd;
    font-size: 1.5rem;
}

.navbar button i:hover{
    color: #ffffffdd;
}

.header-inner .nav-item {
    margin-bottom: 5px;
}

.header-inner .nav-link{
    display: inline-block;
    padding: 5px;
    height: 30px;
    margin-left: 20px;
    color: #000000dd;
    transition: all .5s;
}

.header-inner .nav-link:hover{
    border-bottom: 2px solid #ffffffdd;
    color: #ffffffdd!important;
    text-shadow:2px 2px 10px #fbff0055, -2px -2px 10px #fbff0055;
}

.navbar-nav .nav-item:nth-child(4) a {
    border-bottom: 2px solid #ffffffdd;
    color: #ffffffdd!important;
    text-shadow:2px 2px 10px #fbff0055, -2px -2px 10px #fbff0055;

}

.header-inner .navbar-toggler {
    outline: none!important;
    border: none!important;
}

.dropdown-menu {
    width: 250px;
    margin-top: 14px;
    background: linear-gradient(to top, #d28eff85, #ffffff35);
    border: none;
    border-radius: 0%;
}

.dropdown-menu a {
    color: #000000dd;
    padding: 10px;
    padding-left: 30px;
    transition: all .5s;
}

.dropdown-menu a:hover{
    color: #ffffffdd;
    background: none;
    text-shadow:2px 2px 10px #fbff0055, -2px -2px 10px #fbff0055;
}

.login .btn:first-child {
    width: 220px;
    color: #190429;
    border-radius: 0;
    font-weight: 700;
    padding: 10px 20px;
    transition: all .5s;
    font-size: 1.1rem;
}

.login .btn:first-child:focus {
    box-shadow: none;
}

.login .btn:first-child:hover {
    color: #ffffffdd;
    font-weight: 600;
    text-shadow: 2px 2px 10px #39c2e486, -2px -2px 10px #39c2e486;
}

.login .btn:first-child:visited,
.login .btn:first-child:active {
    font-size: 1rem;
}

.login .btn:last-child i {
    transform: translateY(4px);
    font-size: 1.8rem;
}

.login .btn:last-child{
    color: #ffffffdd;
    width: 140px;
    background: linear-gradient(45deg, #690064, #430077);
    padding: 16px 25px;
    transition: .5s;
    border-radius: 0;
    padding: 14px 20px;
    padding-top: 7px;
}

.login .btn:last-child {
    box-shadow: none;
}

.login .btn:last-child:hover {
    color: #ffffffdd;
    background: linear-gradient(45deg, #81007b, #5b00a0);
}
/* ---------------------------------------------outer btn------------------------------------------------ */

.login-out-nav {
    position: fixed;
    top: 0;
    right: 7%;
    z-index: 2;
    display: none;
}
.login-out-nav .btn:first-child {
    width: 200px;
    color: #190429;
    border-radius: 0;
    font-weight: 700;
    padding: 7px 15px;
    transition: all .5s;
    font-size: 1rem;
}

.login-out-nav .btn:first-child:focus {
    box-shadow: none;
}

.login-out-nav .btn:first-child:hover {
    color: #ffffffdd;
    font-weight: 600;
    text-shadow: 2px 2px 10px #39c2e486, -2px -2px 10px #39c2e486;
}

.login-out-nav .btn:first-child:visited,
.login-out-nav .btn:first-child:active {
    font-size: 1rem;
}

.login-out-nav .btn:last-child i {
    transform: translateY(5px);
    font-size: 1.8rem;
}

.login-out-nav .btn:last-child{
    color: #ffffffdd;
    width: 9rem;
    background: linear-gradient(45deg, #690064, #430077);
    padding: 8px 20px;
    transition: .5s;
    border-radius: 0;
}

.login-out-nav .btn:last-child {
    box-shadow: none;
}

.login-out-nav .btn:last-child:hover {
    color: #ffffffdd;
    background: linear-gradient(45deg, #81007b, #5b00a0);
}

.section {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: #000;
    letter-spacing: 3px;
}

/* ---------------------------thanh menu theo dõi--------------------------- */
.navbar2 {
    position: fixed;
    top: 30%;
    right: 40px;
    z-index: 1000;
    animation: nav2-anime;
    animation-duration: 1s;
}

@keyframes nav2-anime {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.navbar2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar2 ul li {
    position: relative;
    text-align: right;
}

.navbar2 ul li .dot {
    color: #ffffff;
    display: block;
    padding: 5px 0;
}

.navbar2 ul li .dot span {
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px;
    margin-right: 50px;
    transform: translateX(30px);
    opacity: 0;
}

.navbar2 ul li:hover .dot span {
    transform: translateX(0px);
    opacity: 1;
}

.navbar2 ul li .dot span::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(7px, -50%);
    border-left: 5px solid #ffffff;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    display: block;
}

.navbar2 ul li .dot::before,
.navbar2 ul li .dot::after {
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    transition: .2s ease-out;
}

.navbar2 ul li .dot::before {
    height: 3px;
    width: 3px;
    border: 2px solid #ffffff;
    right: 0;
    transform: translateY(-50%) rotate(45deg) translate(0, .5px);
}

.navbar2 ul li .dot.active::before,
.navbar2 ul li:hover .dot::before {
    border-color: #ffffff;
    background: #ffffff;
}

.navbar2 ul li .dot::after {
    height: 15px;
    width: 15px;
    border: 2px solid #ffffff;
    right: -5px;
    transform: translateY(-50%) scale(0);
}

.navbar2 ul li .dot.active::after,
.navbar2 ul li:hover .dot::after {
    transform: translateY(-50%) scale(1);
    transform: rotate(45deg) translateY(-5px) translateX(-5px);
}

/* ---------------------------phần body -----------------------------*/

#intro {
    font-size: 6rem;
    text-align: center;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    animation: intro-anime;
    animation-duration: 1s;
}

@keyframes intro-anime {
    0% {
        opacity: 0;
        transform: scale(.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#Lugnica {
    padding: 10%;
    color: #ffffff;
    text-shadow: 3px 3px 10px #ffffff88, -3px -3px 10px #ffffff88;
    background: url(../image/Lugnica.jpg) center;
    background-size: cover;
}

#Uber {
    padding: 4%;
    color: #ffffff;
    text-shadow: 3px 3px 10px #c94e4e88, -3px -3px 10px #c94e4e88;
    background: url(../image/Uber.jpg) center;
    background-size: cover;
}

#Ondo {
    padding: 4%;
    color: #ffffff;
    text-shadow: 3px 3px 10px #79222288, -3px -3px 10px #79222288;
    background: url(../image/Ondo.jpg) center;
    background-size: cover;
}

#Kyzan {
    padding: 4%;
    color: #ffffff;
    text-shadow: 3px 3px 10px #ffffff88, -3px -3px 10px #ffffff88;
    background: url(../image/Kyzan.jpg) center;
    background-size: cover;
}

#Aunia {
    padding: 4%;
    color: #ffffff;
    text-shadow: 3px 3px 10px #191a0d88, -3px -3px 10px #191a0d88;
    background: url(../image/Aunia.jpg) center;
    background-size: cover;
}

.intro-world #title {
    display: block;
    max-width: 800px;
    text-align: center;
    text-shadow: 3px 3px 10px #191a0d88, -3px -3px 10px #191a0d88;
    font-size: 14px;
    margin-top: 20px 50px 0 50px;
    line-height: 1.8;
    animation: title-anime;
    animation-duration: 3s;
}

@keyframes title-anime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#view-detail {
    margin-top: 40px;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 0;
    left: 50%;
    transform: rotate(45deg) translateX(-50%);
}

#view-detail:focus {
    box-shadow: none;
}

#view-detail p {
    position: absolute;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
    top: -15px;
    left: 0;
    font-size: .6rem;
    transform: rotate(-45deg);
    text-shadow: none;
    color: #fff;
    line-height: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
}

#view-detail::after {
    position: absolute;
    content: '';
    top: -1px;
    left: -1px;
    width: 50px;
    height: 50px;
    z-index: -2;
    background: #000;
    border: #5b00a0 solid 1px;
}

#view-detail::before {
    position: absolute;
    content: '';
    top: -1px;
    left: -1px;
    width: 50px;
    height: 50px;
    z-index: -3;
    background: #fff;
    animation: view-detail-anime infinite 1s ease-out;
}

@keyframes view-detail-anime {
    0% {
        opacity: 0;
        
    }

    100% {
        opacity: .3;
        transform: scale(1.8);
    }
}



/*--------------------------------footer------------------------------------*/
.footer {
    width: 100vw;
    background: url(../image/footer.jpg) no-repeat center/cover;
    background-size: cover;
}

.foot-1-more {
    padding-top: 25px;
}

.foot-1-more h1 {
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    word-spacing: 3px;
    border-bottom: 1px solid;
    letter-spacing: 3px;
    text-shadow: 2px 2px 10px #39c2e486, -2px -2px 10px #39c2e486;
    color: #ffffff;
    padding-bottom: 25px;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.foot-1 hr {
    color: #fafafa;
}

.logo_foot img {
    width: 20rem;
    margin-top: 5%;
}

.follow-us #qegi {
    width: 80px;
    margin-left: 20px;
}

.follow-us #canada {
    width: 170px;
    margin-left: 30px;
    margin-top: -5px;
}

.follow-us p {
    margin-left: 20px;
    color: #999c9c;
}

.follow-us .follow {
    color: #9c9c9c;
    font-size: 2rem;
}

.follow-us .follow i {
    margin-left: 15px;
    cursor: pointer;
    transition: all .3s;
}

.follow-us .follow i:hover {
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 10px #39c2e486, -2px -2px 10px #39c2e486;
}

.follow-us .follow hr {
    background-color: #525252;
    padding: 0;
    margin-top: 10px;
}

.foot-last {
    width: 100vw;
    padding: 20px 0;
    background-color: #000000;
    color: #a7a7a7dd;
    border-top: 1px solid #1d1d1ddd;
    text-align: center;
}